extends layout

block layout-content
  div.View.WelcomeView
    div.topnav 
    div.Message
      div.Title
        h3 Buying the Best
        h1 used articles
      span.Details Access the WHATIBUY-Portal for free!
    div.NavButtons
      a(href="/articles")
        div.NavButton  all articles!
      a(href="/sell")
        div.NavButton Just sell!
    