<link rel="stylesheet" type="text/css" href="style.css" media="screen" />

<div id="container">
  <h1>&bull; advertise an article &bull;</h1>
  <div class="underline">
  </div>

  <form action="/article" method="post" enctype="multipart/form-data">
    <div class="uuid">
      <label for="uuid"></label>
      <input type="number" placeholder="UUID" name="uuid" id="uuid" required>
    </div>

    <div class="title">
      <label for="title"></label>
      <input type="title" placeholder="title" name="title" id="title" required>
    </div>

    <div class="start_price">
      <label for="name"></label>
      <input type="number" step="0.5" placeholder="start price is" name="start_price" id="start_price" required>
    </div>

    <div class="description">
      <label for="description"></label>
      <textarea name="description" placeholder="Description for the new article" cols="30" rows="5" required></textarea>
    </div>

    <div class="picture">
      <input type="file" placeholder="picture" name="picture" id="picture">
    </div>

    <div class="submit">
      <input type="submit" value="Create article" id="form_button" />
    </div>
    
  </form><!-- // End form -->
</div><!-- // End #container -->
