title SellForms
<form action="/article" method="post">
    <p> 
    <label for="uuid">Enter UUID: </label>
    <input id="uuid" type="number" name="uuid" value="uuid">

    <p>
    <label for="title">Enter title: </label>
    <input id="title" type="text" name="title" value="title">

    <p>
    <label for="start_price">Enter start-price: </label>
    <input id="start_price" type="number" step="0.5" name="start_price" value="start_price">

    <p>
    <label for="description">Enter description: </label>
    <input id="description" type="text" name="description" value="description">
    <input type="submit" value="OK"> </p>
</form>
